.todoGroup {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.btn {
  margin: 0 5px;
}
.screen_input {
  margin: 20px auto;
  max-width: 700px;
}
.screen_input textarea,
.screen_input input {
  width: 100%;
  margin: 10px 0;
}
